<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if end_user_signed_in? %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav class='nav navbar-nav navbar-left' >
            <%= link_to "NaganoCake", root_path %>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "マイページ", end_users_path %></li>
              <li><%= link_to "商品一覧" %></li>
              <li><%= link_to "カート"%></li>
              <li><%= link_to "ログアウト", destroy_end_user_session_path, :notice => "locked", class: "glyphicon glyphicon-log-out", method: :delete %></li>
            </ul>
          </nav>
        </div>
      </header>
    <% else %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav class='nav navbar-nav navbar-left' >
            <%= link_to "NaganoCake", root_path %>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "商品一覧" %></li>
              <li><%= link_to "新規登録", new_end_user_registration_path %></li>
              <li><%= link_to "ログイン", new_end_user_session_path %></li>
            </ul>
          </nav>
        </div>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
